#versionon=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$NH7wB3r9$Kva2SHfBaEeLWl1lMqGo00
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
authconfig --enableshadow --enablemd5
authconfig --enableldap --enableldapauth --ldapserver=ldap://10.2.7.239/ --ldapbasedn=dc=cit470,dc=nku,dc=edu
ignoredisk --only-use=sda
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=ens33  --netmask=255.255.255.0 --ipv6=auto --activate
network --hostname=team4-c.hh.nku.edu


# Reboot after installation
reboot
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Clear the Master Boot Record
#zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part swap --fstype="swap" --ondisk=sda --size=1000
part / --fstype="xfs" --ondisk=sda --size=4000
part /var --fstype="xfs" --ondisk=sda --size=1000

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post --interpreter /bin/bash --log=/root/kickstart-post.log

# Perform updates
yum update -y

# Install net-tools
yum install net-tools -y

# Install ldap-client
yum install openldap-clients -y

yum install authconfig -y
yum update -y
yum install lsof -y
yum install nfs-utils -y
yum install nss-pam-ldapd -y


# setup NFS on boot, Change to actual server ip address below.
echo "10.2.7.239              /home                   nfs     defaults        0 0" >>/etc/fstab

#update Ldap Config file
sed -i "/HOST/c\HOST 10.2.7.239" /etc/openldap/ldap.conf

systemctl start nfs
systemctl enable nfs

authconfig --enableldap --enableldapauth --ldapserver="10.2.7.239" --ldapbasedn="dc=cit470,dc=nku,dc=edu" --update
systemctl start nslcd
systemctl enable nslcd

mount -t nfs 10.2.7.239:/home /home
%end
