#versionon=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$NH7wB3r9$Kva2SHfBaEeLWl1lMqGo00
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.7.239 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network --hostname=team4-s1.hh.nku.edu

# Reboot after installation
reboot
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part swap --fstype="swap" --ondisk=sda --size=512
part / --fstype="xfs" --ondisk=sda --size=7500
part /var --fstype="xfs" --ondisk=sda --size=2000

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post --interpreter /bin/bash --log=/root/kickstart-post.log

# Perform updates
yum update -y

# Install net-tools
yum install net-tools -y
yum install nss_ldap -y
yum install wget -y
yum install bzip2 -y
yum install nfs-utils -y
yum install dhcp -y
yum install authconfig -y
yum install migrationtools -y


%end